body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #783896; 
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
}

h1 {
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
    border-top: 2px solid #6f42c1; 
    color: #000000; 
}

.info {
    margin-bottom: 20px;
}

.field-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.field {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000000; 
    font-weight: bold;
}

input {
    width: calc(100% - 26px);
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.buttons {
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: #6f42c1; 
    color: #fff;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #0056b3;
    }