*{
    margin: 0;
    padding: 0;
}

body{
    max-height: 50vh;
    background-color:  rgb(73,81,157);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    background-color: white;
    border-bottom: 1px solid rgb(73,81,157); /* Add a 2px solid underline */
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: right;
}

nav li:first-child{
    padding-left: 70px;
}

nav li{
    height: 80px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(73,81,157);
}

nav a:hover{
    text-decoration: underline;
    color: rgb(120,56,150);
}

.fwh-slide{
    position: relative;
    height: 98vh;
    background-color:white;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-option{
    width: 400px;
    height: 400px;
    background-color: #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.login-option a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.login-option:hover {
    background-color: rgb(216, 31, 31);
}